<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">
  
    <!-- instanciation des beans metiers -->
<!--    <bean class="com.hskme.model.Dictionnaire" id ="dictionnaire" />
    <bean class="com.hskme.model.Questionnaire" id ="questionnaire" />

    <bean class="com.hskme.service.DictionnaireServiceImpl" id="dictionnaireServiceImpl" >
            <property name="dico" ref="dictionnaire"/>
    </bean>
    
    <bean class="com.hskme.service.QuestionnaireServiceImpl" id="questionnaireServiceImpl" >
            <property name="quest" ref="questionnaire"/>
    </bean>-->
    
	<import resource="classpath*:src/main/resources/spring-context-allmodules.xml" />
    
</beans>
